.container{
    margin-top: 20px;
}

.btnContainer{
    display: inline-block;
    border: 2px solid black;
    margin-bottom: 12px;
    border-radius: 5px;
}
.btn1{
    margin: 3px;
}

.box1{
    display: flex;
}

.inputBox{
    margin-left: 5px;
    border: 1.5px solid black;
    width: 250px;
    height: 30px;

}
.sideTitle{
    height: 35px;
    background-color: rgb(82, 76, 76);
    border-radius: 3px 3px 0px 0px ;
}

.searchbtn{
    color: white;
    background-color: #0d6efd;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    height: 30px;
}
.searchbtn:hover{
    background-color: lightblue;
}
.errorMsg{
    color: red;
    font-weight: bold;
}
.searchEntries{
    color: white;
    padding-top: 4px;
    padding-left: 5px;
}
.tableOne{
    border: 1.5px solid black;
    border-radius: 0px 0px 5px 5px;
}