<div class="container roundTripInner">
    <div>
        <button class="arrowbtn"><i class="fa-solid fa-greater-than"></i></button>
    </div>

    <div class="container">
        <label><b>Origin *</b></label>
        <input type="text" placeholder="Airport/City code" matInput [formControl]="myControl1" [matAutocomplete]="auto"
            class="form-select" [value]="fromDestination">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="selectedAirport[0]">{{option}}</mat-option>
        </mat-autocomplete>
    </div>

    <div>
        <button class="searchbtn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    <div class="container">
        <label><b>Destination *</b></label>
        <input type="text" placeholder="Airport/City code" matInput [formControl]="myControl2" [matAutocomplete]="auto"
            class="form-select" [value]="fromOrigin">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="selectedAirport[0]">{{option}}</mat-option>
        </mat-autocomplete>
    </div>

    <div>
        <button class="searchbtn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    <div class="container w-50">
        <label><b>Date *</b></label>
        <input type="text" class="form-control displayDate1" placeholder="dd/mm/yyyy" [formControl]="dateOneControl">
    </div>

    <div>
        <button class="searchbtn" id="datePicker1"><i class="fa-solid fa-calendar-days"></i></button>
    </div>

    <div class="container w-50">
        <label><b>Time</b></label>
        <input class="form-control" [(ngModel)]="timeInput1" placeholder="hh:mm"
            (ngModelChange)="validateTimeFormat(timeInput1)">
    </div>
</div>
<!----------------------------------------------------------------------------------------------------------->
<div class="container roundTripInner">
    <div>
        <button class="arrowbtn"><i class="fa-solid fa-greater-than"></i></button>
    </div>

    <div class="container">
        <label><b>Origin *</b></label>
        <input type="text" placeholder="Airport/City code" matInput [formControl]="myControl3" [matAutocomplete]="auto"
            class="form-select" [value]="returnDestination">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="selectedAirport[0]">{{option}}</mat-option>
        </mat-autocomplete>
    </div>

    <div>
        <button class="searchbtn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    <div class="container">
        <label><b>Destination *</b></label>
        <input type="text" placeholder="Airport/City code" matInput [formControl]="myControl4" [matAutocomplete]="auto"
            class="form-select" [value]="returnOrigin">
        <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="selectedAirport[0]">{{option}}</mat-option>
        </mat-autocomplete>
    </div>

    <div>
        <button class="searchbtn"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>

    <div class="container w-50">
        <label><b>Date *</b></label>
        <input type="text" class="form-control displayDate2" placeholder="dd/mm/yyyy" [formControl]="dateTwoControl">
    </div>

    <div>
        <button class="datebtn" id="datePicker2"><i class="fa-solid fa-calendar-days"></i></button>
    </div>

    <div class="container w-50">
        <label><b>Time</b></label>
        <input class="form-control time" [(ngModel)]="timeInput2" placeholder="hh:mm"
            (ngModelChange)="validateTimeFormat(timeInput2)">
    </div>
</div>
<p>{{info.timeError}}</p>